@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-container{
    height:100vh;
}

.carousel-primary{
  top:26%;
  left:100%;
  width:100%;
    overflow:hidden;
    position:absolute;
    white-space: nowrap;
    display:flex;
    justify-content: space-around;
    animation: scroll-horizontal 20s linear infinite;
}
.blue-star-background {
  background-image: url('../public/blue-star-background.png');
  background-size:cover;
}

@keyframes scroll-horizontal {
  0% {
  left:0;
  }

  100% {
    left:-100%;
  }
}