@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-star-background {
  background-image: url('../public/blue-star-background.png');
  background-size:cover;
}


.scroll-container {
  height: 20vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel {
  display: flex;
  animation: scroll-horizontal 20s linear infinite;
  width: max-content;
}

.carousel ul {
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  align-items: center;
  white-space: nowrap;
}

.carousel li {
  width: 100%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

