@tailwind base;
@tailwind components;
@tailwind utilities;

.blue-star-background {
    background-image: url('../public/blue-star-background.png');
    background-size: cover;
}

.review-star-background {
    background-image: url('../public/review-star-bg.png');
    background-size: cover;
    background-position: center;
}

.scroll-container {
    height: 15vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.carousel {
    display: flex;
    animation: scroll-horizontal 20s linear infinite;
    width: max-content;
}

.carousel ul {
    display: flex;
    flex-shrink: 0;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
}

.carousel li {
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scroll-horizontal {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 1s ease-in-out;
    z-index: 1;
    background-repeat: no-repeat;
}

.slide.active {
    z-index: 2;
    transition: opacity 1s ease-in-out;
}

@font-face {
    font-family: 'Hertical';
    src: url('../public/fonts/hertical_sans_regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.hertical {
    font-family: 'Hertical', sans-serif;
}

.hero-image-cover {
    background-image: url('../public/hero-image.jpg');
    background-size: cover;
    background-position: center;
}

.book-your-stay-cta {
    background-image: url('../public/book-stay-cta.png');
    background-size: cover;
    background-position: center;
}

@layer base {
  :root {
        --radius: 0.5rem;
    }
}
